@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind tailwind-scrollbar;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    background: rgb(0, 0, 0);
}

body::-webkit-scrollbar {
    width: 3px;
    background: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background: rgb(47, 37, 0);
}

.scrollable-scrollbar {
    scrollbar-width: none;
    scrollbar-color: rgb(63, 33, 1) rgb(6, 6, 6);
}
