@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind tailwind-scrollbar;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background: rgb(0, 0, 0);
}

body::-webkit-scrollbar {
    width: 3px;
    background: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background: rgb(47, 37, 0);
}

.scrollable-scrollbar {
    scrollbar-width: none;
    scrollbar-color: rgb(63, 33, 1) rgb(6, 6, 6);
}

.scroll-genre {
    scrollbar-width: thin;
    scrollbar-color: rgb(61, 3, 3) rgb(6, 6, 6);
}

.card-color {
    background-image: linear-gradient(
        to bottom, transparent 50%, black 100%
    );
}

.bigcard-color {
    background-image: linear-gradient(
        to left, transparent 30%, black 70%
    );
}

.bigcard-color2 {
    background-image: linear-gradient(
        to bottom, transparent 80%, black 99%
    );
}

